<style>

body{
    font-family: Arial, Helvetica, sans-serif;
    background:#70db70;
    background-color: #70db70;
    margin:20px;
}

h2{
    text-align:center;
    color:#0b5ed7;
    margin-bottom:20px;
}

.menu{
    width:80%;
    margin:auto;
    background:#fff;
    padding:15px;
    border-radius:8px;
    box-shadow:0 2px 8px rgba(0,0,0,.15);
    margin-bottom:25px;
}

.menu p{
    margin:8px 0;
}

.menu a{
    color:#0b5ed7;
    text-decoration:none;
    font-weight:bold;
}

.menu a:hover{
    color:#dc3545;
}

.fund-card{
    background:#fff;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,.15);
    margin:25px auto;
    width:98%;
    overflow:hidden;
}

.fund-title{
    background:#198754;
    color:#fff;
    padding:12px;
    font-size:20px;
    font-weight:bold;
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#4CAF50;
    color:#fff;
    padding:10px;
    font-size:14px;
}

td{
    padding:8px;
    border:1px solid #ddd;
    text-align:center;
}

tr:nth-child(even){
    background:#f8f9fa;
}

tr:hover{
    background:#fff3cd;
}

.profit{
    color:green;
    font-weight:bold;
}

.loss{
    color:red;
    font-weight:bold;
}

@media(max-width:768px){

table{
    font-size:12px;
}

th,td{
    padding:5px;
}

.fund-title{
    font-size:16px;
}
          
.fund-name {
   	width: 300px;
   	min-width: 300px;
   	max-width: 300px;
   	text-align: left;
}
}
</style>